.wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.weui-grids.index-grids .weui-grid {
  width: 25%;
}
.weui-tabbar.index-tabbar {
  background: #ffffff;
  position: fixed;
}
.weui-tabbar.index-tabbar .weui-grid__label {
  font-size: 16px;
}
.weui-tabbar.index-tabbar .icon_img {
  width: 25px;
  height: 25px;
}
.title .town-pull-left {
  float: left;
}
.title .plus {
  float: right;
  width: 18px;
  height: 18px;
}
.marTop {
  margin-top: 44px;
}
.marTop.head {
  margin-top: 60px;
}
.index_list {
  color: white;
  display: flex;
  margin: 5px 2px;
}
.index_list .index_box.box_bor {
  margin-right: 0;
  background: #1da090;
}
.index_list .index_box.box_bor:after {
  content: '';
  display: block;
  margin-top: 100%;
  /* margin 百分比相对父元素宽度计算 */
}
.index_list .index_box.box_bor .index_title {
  position: absolute;
  width: 100%;
  top: 15%;
  height: 40px;
  text-align: center;
}
.index_list .index_box.box_bor .index_title p {
  margin-bottom: 10px;
}
.index_list .index_box {
  flex: 1;
  overflow: hidden;
  position: relative;
  margin: 0px 3px;
  display: flex;
  flex-direction: column;
}
.index_list .index_box .index_img {
  position: relative;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  background: #8cb428;
}
.index_list .index_box .index_img:after {
  content: '';
  display: block;
  margin-top: 50%;
  /* margin 百分比相对父元素宽度计算 */
}
.index_list .index_box .index_img:last-child {
  margin-top: 3px;
  background: #f08c23;
}
.index_list .index_box .index_img .index_title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  padding-left: 10%;
  box-sizing: border-box;
}
.index_list .index_box .index_img .index_title img {
  position: absolute;
  top: 50%;
  margin-top: -10%;
  left: 10%;
}
.index_town {
  margin-bottom: 55px;
}
.index_town .town_img {
  width: 96%;
  margin: 5px auto;
  border-radius: 3px;
  position: relative;
  height: 0;
  padding-top: 56.7%;
  background-size: cover;
  background-position: center center;
}
.index_town .town_img .index_item {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: #fff;
  z-index: 5;
}
.index_town .town_img .index_mask {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  padding-top: 35%;
  border-radius: 3px;
}
.weui-icon_msg.warn_show {
  margin-top: 10px;
  font-size: 70px;
}
#mapbox {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.zuimei {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  width: 80px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin-left: -60px;
  color: white;
  text-align: center;
  font-size: 16px;
  background: #09BB07;
}
.zuimei p {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.search-bar {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 10px;
}
.search-bar .change_town_btn {
  padding: 4px 8px;
  width: 60px;
  font-size: 14px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  float: left;
  border-radius: 2px;
}
.search-bar .scan {
  border-radius: 2px;
  float: right;
  padding: 2px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
}
.search-bar .scan img {
  margin-top: 2px;
  width: 26px;
  height: 26px;
}
.search-bar.top {
  top: 25px;
}
.scene_audio {
  width: 100%;
  overflow: auto;
}
.m_content.child_colo.way_content {
  width: 100%;
  overflow: hidden;
}
.info_box {
  padding: 10px;
  background: white;
  width: 100%;
  box-sizing: border-box;
}
.marker_info_box {
  position: absolute;
  bottom: 0;
  z-index: 3;
  font-size: 14px;
}
.marker_info_box .hr {
  height: 1px;
  width: 100%;
  background: #CCCCCC;
  margin: 10px 0 6px 0;
}
.marker_info_box .feature {
  font-size: 12px;
}
.marker_info_box .info {
  display: flex;
}
.marker_info_box .info .info_l {
  flex: 1;
}
.marker_info_box .info .info_l .name {
  margin-bottom: 10px;
}
.marker_info_box .info .info_l .name span {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}
.marker_info_box .info .info_l .name small {
  font-size: 14px;
  margin-left: 6px;
}
.marker_info_box .info .info_r {
  width: 100px;
  text-align: right;
}
.marker_info_box .info .info_r .btn {
  padding: 6px 10px;
  margin-top: 8px;
  width: 80px;
  text-align: center;
  color: white;
  background: #09BB07;
  display: block;
}
.marker_info_box .info .info_r .go {
  background: #576B95;
}
