.town-content.head #hotel .town-row {
  margin-top: 65px;
}
#hotel .town-row {
  margin-top: 49px;
}
#hotel .town-row .town-col-xs-12 {
  position: relative;
  width: 96%;
  margin: 10px auto;
  height: 0;
  padding-top: 56.7%;
  background-size: cover;
  background-position: center center;
}
#hotel .town-row .town-col-xs-12 .hotel_title {
  position: absolute;
  bottom: 10px;
  left: 12px;
  color: #fff;
  z-index: 99;
  font-size: 18px;
}
#hotel .town-row .town-col-xs-12 .hotel_number {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
}
#hotel .town-row .town-col-xs-12 .hotel_number span {
  font-size: 20px;
}
#hotel .town-row .town-col-xs-12 .mask {
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  padding-top: 35%;
  border-radius: 10px;
}
